# Libro 2 - Matplotlib

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import misfunciones

In [4]:
data = misfunciones.get_daily('AAPL')
data

              open     high       low   close  volume
2021-10-06  139.47  142.150  138.3700  142.00   83.22
2021-10-05  139.49  142.240  139.3600  141.11   80.86
2021-10-04  141.76  142.210  138.2700  139.14   98.32
2021-10-01  141.90  142.920  139.1101  142.65   94.64
2021-09-30  143.66  144.378  141.2800  141.50   89.06
...            ...      ...       ...     ...     ...
2021-05-21  127.82  128.000  125.2100  125.43   79.30
2021-05-20  125.23  127.720  125.1000  127.31   76.86
2021-05-19  123.16  124.915  122.8600  124.69   92.61
2021-05-18  126.56  126.990  124.7800  124.85   63.34
2021-05-17  126.82  126.930  125.1700  126.27   74.24

[100 rows x 5 columns]