In [2]:
import pandas as pd

data = pd.read_csv('UCEMA/SPY.csv', sep=';')
data

,timestamp,open,high,low,close,adjusted_close,volume
0,19/3/2020,239.2500,247.3800,232.2200,240.5100,240.5100,288124389
1,18/3/2020,236.2500,248.3700,228.0200,240.0000,240.0000,324845381
2,17/3/2020,245.0400,256.1700,237.0700,252.8000,252.8000,260566279
3,16/3/2020,241.1800,256.9000,237.3600,239.8500,239.8500,295019288
4,13/3/2020,263.0900,271.4754,248.5237,269.3200,269.3200,326142197
...,...,...,...,...,...,...,...
5027,24/3/2000,152.8750,155.7500,151.7187,153.5625,105.8114,11462900
5028,23/3/2000,149.1562,153.4687,149.1562,152.6562,105.1870,11654500
5029,22/3/2000,149.5625,150.8437,148.6875,150.0937,103.4213,8260000
5030,21/3/2000,145.5312,149.7500,144.5000,149.1875,102.7969,13612600
5031,20/3/2000,146.8750,147.3437,144.7812,146.1875,100.7297,12502300

In [4]:
# traigo un excel
columnasAUsar = ['timestamp', 'open', 'close']
dataxl = pd.read_excel('UCEMA/AAPL.xlsx', sheet_name='Hoja1', index_col='timestamp', usecols=columnasAUsar)
dataxl

              open   close
timestamp
2020-03-06  282.00  289.03
2020-03-05  295.52  292.92
2020-03-04  296.44  302.74
2020-03-03  303.67  289.32
2020-03-02  282.28  298.81
...            ...     ...
2000-03-10  121.69  125.75
2000-03-09  120.87  122.25
2000-03-08  122.87  122.00
2000-03-07  126.44  122.87
2000-03-06  126.00  125.69

[5033 rows x 2 columns]